{% block javascripts %} 
<script src="http://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
<script src="{{ asset('js/ajaxCall.js') }}"></script>
<script src="{{ asset('js/getList.js') }}"></script>
  {% endblock %}
<html>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-top : 100px }
</style>

<body>

<div class="example-wrapper">
    
<p>Select Main-Category</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    
<p>Select Sub-Category</p>

   <select id="subCategory">
      <option value="0">- Select -</option>
   </select>

<p>Select Product</p>

   <select id="product">
      <option value="0">- Select -</option>
   </select>
       
</div>


</body>
</html>
