{% block stylesheets %}    
 <link href="{{ asset('css/register.css') }}" rel="stylesheet"/> 
 {%endblock%}

<div class="example-wrapper">
   <center> <h1>User Form</h1> </center>
   
    {% for error in form.vars.errors.form.getErrors(true) %}
    <p style="color:red;"> * {{ error.message }}</p>
    {% endfor %}

        {{ form_start(form) }} 
            {{ form_widget(form) }}
        {{ form_end(form) }}
</div>
