{% block stylesheets %}
<link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{%endblock%}

<div class="main">
<div align="right">
    <a href={{path('logoutSession')}}>logout</a>
</div>
<center><h1> User List </h1></center>
    <table>
        <tr>
         <th>NAME</th> 
         <th>EMAIL</th>
         <th>DATE OF BIRTH</th>
         <th>GENDER</th>
         <th>COUNTRY</th>
         <th>EDIT</th>
        </tr>
        {%for u in data.user%}
        <tr>
        <td> {{u.getName()|capitalize}} </td>
        <td>{{u.getEmailId()}}</td>
        <td>{{u.getBirthdate() | date('d-M-Y')}}</td>      
        <td>{{u.getGender()}}</td>
        <td>{{u.getCountry()}}</td>
        <td> <a href="{{ path('update',{'id':u.getId()}) }}">Edit</a></td>
        </tr>    
        {%endfor%}    
</table><br>
<div class="page">
{% if data.maxPages > 1 %}
<ul id="horizontal-list">
    <li {{ data.thisPage == 1 ? 'class="disabled"' }}>
        <a href="{{ path('userlist', {page: data.thisPage-1 < 1 ? 1 : data.thisPage-1}) }}">«</a>
    </li>

    {% for i in 1..data.maxPages %}
    <li {{ data.thisPage == i ? 'class="active"' }}>
    <a href="{{ path('userlist', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    <li {{ data.thisPage == data.maxPages ? 'class="disabled"' }}>
        <a href="{{ path('userlist', {page: data.thisPage <= data.maxPages ? data.thisPage : data.thisPage}) }}">»</a>
    </li>
</ul>
{% endif %}
</div>
</div>
