<html>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-top : 100px }
    table, tr, td {  border: 1px solid black;}
</style>
<body>

<div class="example-wrapper">
<div align="right">
<a class = "register" href={{path('add_user')}}>Register</a>
</div>
<h1> User List </h1>
    <table>
        <tr>
         <td>Name</td> 
         <td>Email</td>
         <td>DateofBirth</td>
         <td>Gender</td>
         <td>Country</td>
         <td>Comments</td>
         <td>Edit</td>
        </tr>
        {%for u in user%}
        <tr>
        <td> {{u.getName()}} </td>
        <td>{{u.getEmailId()}}</td>
        <td>{{u.getBirthdate() | date('Y-m-d')}}</td>      
        <td>{{u.getGender()}}</td>
        <td>{{u.getCountry()}}</td>
        <td>{{u.getComments()}}</td>
        <td> <a href="{{ path('update',{'id':u.getId()}) }}">Edit</a></td>
        </tr>    
        {%endfor%}    
</table><br>
</div>
</body>
</html>