{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/ajaxCall.js') }}"></script>
    <script src="{{ asset('js/getList.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/commoncss.css') }}" rel="stylesheet"/>
{%endblock%}

<div class="example-wrapper">

    <p>Select Main-Category</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

     
</div>
