{% block stylesheets %}
<link href="{{ asset('css/employee.css') }}" rel="stylesheet"/>
{%endblock%}

<div class="example-wrapper">

    {{ form_start(employeeform) }}
    {{ form_widget(employeeform) }}
    <input class="emp_submit_btn" type="image" value="submit" width="30" src="{{ asset('image/submit.png') }}" alt="submit Button" onmouseover="this.src='{{ asset('image/submit.png') }}'">
    {{ form_end(employeeform) }}

    {{ form_start(projectform) }}
    {{ form_widget(projectform) }}
    <input class="project_submit_btn"  type="image" value="submit" width="30" src="{{ asset('image/submit.png') }}" alt="submit Button" onmouseover="this.src='{{ asset('image/submit.png') }}'">
    {{ form_end(projectform) }}
</div>

<div class="display">
    {% if type == 'employee' %}
        <h3>Employee Name:
            {{data.getName() }}
        </h3>
        <table>
            <tr>
                <th>Working Projects
                </th>
            </tr>
            {% for obj in data.getProjectName() %}
                <tr>
                    <td>{{obj.getName()}}</td>
                </tr>
                <tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if type == 'project' %}
            <h3>Project Name:
                {{data.getName() }}
            </h3>
            <table>
                <tr>
                    <th>Employees Name
                    </th>
                </tr>
                {% for obj in data.getEmployee() %}
                    <tr>
                        <td>{{obj.getName()}}</td>
                    </tr>
                    <tr>
                    {% endfor %}
                </table>
            {% endif %}


        </div>

