{% block stylesheets %}
<link href="{{ asset('css/Common.css') }}" rel="stylesheet"/>
{% endblock %}

<div class="example-wrapper">
    <h1>LoginPage</h1>
    {% for error in form.vars.errors.form.getErrors(true) %}
        <p style="color:red;">
            *{{ error.message }}</p>
    {% endfor %}
    {{ form_start(form) }}
    <p class="error_message">
        {{ message }}
    </p>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Login') }}</button>
    {{ form_end(form) }}
</div>

