{% block stylesheets %}
<link href="{{ asset('css/Common.css') }}" rel="stylesheet"/>
{% endblock %}

<table id="thumb_table">
    {% for list in listImage %}
        <tr>
            <td><a href="{{ path('getImage',{'id':list.getId()}) }}"><img id="thumb" class="article-img" src="{{ asset(list.getThumbnailPath()) }}" >
            </a>
            </td>
            <td><a href="{{ path('editImage',{'id':list.getId()}) }}">Edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if image != null %}
<div id="ori_img">
<img class="article-img" src="{{ asset(image.getOrginalImagePath()) }}" onclick="image()" height="400" weight="400">
</div>

{% endif %}
 